body {
    background-image: url(images/photo-1549074862-6173e20d02a8.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }
 
  h1{
    font-family: Birthstone, Georgia, 'Times New Roman', Times, serif;
    font-size: 300px;
    color: #D6F1FF;
    text-shadow: 3px 1px 3px rgb(0, 25, 37);
    position: relative;
    top: -100px;
  }

  h2{
    font-family: Roboto Flex, sans-serif;
    font-size: 75px;
    color: #c0d9e2;
    position: relative;
    top: -275px;
  }

  body::-webkit-scrollbar{
    display: none
  }

  