body{
    background-image: url(images/Water.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding: 50px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 70px;
  }

  p{
    font-size: 40px;
  }

  h1{
    font-size: 100px;
  }

  h2{
    font-size: 65px;
  }
  
  .home{
    font-size: 20px;
    position: relative;
    top: -70px;
    right: -1350px;
    background-color: #00000000;
    color: rgba(0, 0, 0, 0.81);
    border: none;
    cursor: pointer;
    margin: 0%;
  }
  
  body::-webkit-scrollbar{
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }
  
  .box{
    height: 1300px;
    width: auto;
    cursor: pointer;
    color: rgb(163, 178, 192);
  }
 
 #box1{
  color: rgb(25, 25, 26);
 }
 